*{
    background-color: bisque;
};

header{
    background-color: blueviolet;
};

p{
    font-size: 20px;
};

.Subtitulo{
    font-style: oblique;
    font-weight: bold;
};

.Calculadora{
    background: darkgoldenrod;
};

#respuestadeerror{
    color: crimson;
};

#respuestasiok{
    color: forestgreen
};